$color-orange: hsl(31, 77%, 52%);
$color-cyan: hsl(184, 100%, 22%);
$color-green: hsl(179, 100%, 13%);
$color-gray: hsla(0, 0%, 100%, 0.75);
$color-white: hsl(0, 0%, 95%);

$font-Big: 'Big Shoulders Display', cursive;
$font-Lexend: 'Lexend Deca', sans-serif;